::ng-deep .specialLink {
     a{
        font-weight: bold!important;
        span{color: white !important;}
    }
}

::ng-deep .lgt-custom-icon{
    width: 45px;
    height: 45px;
    background: var(--blue-800);
    background-image: url('/assets/layout/images/people/olivya-riyhe.png');
    background-size: contain;
    border-radius: 50%;
}

::ng-deep #profilleLogout{
    .p-menuitem-text{
        width: 40%!important;
        display: inline-block; 
        word-wrap: break-word;
    }
    span[data-highlight*=""]::after {
        content: 'ali@chumacero.com'!important;
        color: red!important;
        font-weight: bold!important;
        background-color: white!important; /* Para ocultar el texto original debajo */
    }
}